<!--nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
</--nav>
<!-- BEGIN HEADER -->
<div class="header">
  <div class="container">
    <a class="site-logo" href="shop-index.html"><img src="../../assets/frontend/layout/img/logos/logo-shop-red.png" alt="Metronic Shop UI"></a>

    <a (click)="showMenu()" class="mobi-toggler"><i class="fa fa-bars"></i></a>


   
    <!-- BEGIN NAVIGATION -->
    <div class="header-navigation" [@visibilityChanged]="visibility" >
      <ul>

        <li *ngFor="let item of menu" [class.dropdown]="item.children">
             <a routerLink={{item.path}} [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="dropdown-toggle" data-toggle="dropdown">
                  {{item.name}}
            </a>


          <!-- BEGIN DROPDOWN MENU -->
          <ul class="dropdown-menu">

              <li *ngFor="let child of item.children">
                   <a href=""> {{child.name}}</a>
              </li>

          </ul>
          <!-- END DROPDOWN MENU -->


        </li>



       
       
        <li class="dropdown">
          <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
            About

          </a>

          <ul class="dropdown-menu">
            <li class="active"><a href="shop-index.html">Home Default</a></li>
            <li><a href="shop-index-header-fix.html">Home Header Fixed</a></li>
            <li><a href="shop-index-light-footer.html">Home Light Footer</a></li>
            <li><a href="shop-product-list.html">Product List</a></li>
            <li><a href="shop-search-result.html">Search Result</a></li>
            <li><a href="shop-item.html">Product Page</a></li>
            <li><a href="shop-shopping-cart-null.html">Shopping Cart (Null Cart)</a></li>
            <li><a href="shop-shopping-cart.html">Shopping Cart</a></li>
            <li><a href="shop-checkout.html">Checkout</a></li>
            <li><a href="shop-about.html">About</a></li>
            <li><a href="shop-contacts.html">Contacts</a></li>
            <li><a href="shop-account.html">My account</a></li>
            <li><a href="shop-wishlist.html">My Wish List</a></li>
            <li><a href="shop-goods-compare.html">Product Comparison</a></li>
            <li><a href="shop-standart-forms.html">Standart Forms</a></li>
            <li><a href="shop-faq.html">FAQ</a></li>
            <li><a href="shop-privacy-policy.html">Privacy Policy</a></li>
            <li><a href="shop-terms-conditions-page.html">Terms &amp; Conditions</a></li>
          </ul>
        </li>
      
        <!-- BEGIN TOP SEARCH -->
        <li class="menu-search">
          <span class="sep"></span>
          <i class="fa fa-search search-btn"></i>
          <div class="search-box">
            <form action="#">
              <div class="input-group">
                <input type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
              </div>
            </form>
          </div>
        </li>
        <!-- END TOP SEARCH -->
      </ul>
    </div>
    <!-- END NAVIGATION -->
  </div>
</div>
<!-- Header END -->
